langchain
openai
pymupdf
pandas
tiktoken
langchain
python-dotenv
langchain-community
langchain-text-splitters
langchain-openai
langchain-ollama
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
langserve
uvicorn
sse_starlette
transformers
google-generativeai
langchain-google-genai
sentence-transformers
